body{
    background-image: url('images/American-food.jpg');
    background-size: cover;
    font-family: Cursive, fantasy;
}
#content {
    height: 80vh;
    
    color: #FFF;
}
#headline{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    font-size: xx-large;
    
 }

#description{
    padding: 0px 100px;
}

nav{
    display: flex;
    justify-content: center;
    gap: 50px;
}
nav button{
    background-color: transparent;
    border: none;
    color: #FFF;
    font-family: oswald;
    font-size: 30px;
    font-weight: 50;
    line-height: 1;
}
nav button.active{
    border-bottom: 1px solid red;
}
.menus{
    display: flex;
    justify-content: space-around;
    gap: 10px;
    padding-top: 50px;
}
.menus div h3{
    text-align: center;
}
.menus div ul {
    list-style-type: none;
    margin-left: 0; 
    padding-left: 15px;
}

#abouts{
    padding-top: 50px;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
}

#abouts>div:first-child{
    padding: 50px;
}#abouts li{
    padding: 5px;
    padding-left: 0px;
    margin-left: 0px;
}
#abouts ul{
    margin-left: 0px;
}
#abouts h3{
    padding-left: 10px;
}